<div class="main-wrapper">
  <div class="main-content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- TODO: add drag drop menu here -->
  <div
    [ngClass]="{active: active}"
    class="message-area-wrapper">
    <div class="info">
      <span class="title">{{ title }}</span>

      <span
        [ngClass]="{disabled: !couldClose}"
        class="material-icons icon-handle"
        (click)="closeCmd()">
        close
      </span>
    </div>
    <div class="log-area-wrapper">
      <div
        class="row-log"
        *ngFor="let message of messages">
        {{message}}
      </div>
    </div>

  </div>
</div>


