:host {

}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep > *:nth-child(2) {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;

    .container {
      flex: 1;
    }
  }
}

.message-area-wrapper {
  width: 100%;
  background: black;
  transition: height 0.3s;
  overflow-y: auto;
  height: 0px;

  * {
    color: white;
    margin: 16px;
  }

  &.active {
    height: 200px;
  }
}
