:host {

}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep > *:nth-child(2) {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;

    .container {
      flex: 1;
    }
  }
}

.message-area-wrapper {
  position: relative;
  width: 100%;
  background: black;
  transition: height 0.3s;
  height: 0px;
  overflow: hidden;

  //> {
  //  color: white;
  //  margin: 16px;
  //}

  &.active {
    height: 200px;
  }

  .info {
    background: white;
    margin: 0;
    padding: 8px 16px;
    color: black;
    font-weight: 600;
    font-size: 14px;
    border: 3px solid #00000009;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 36px);

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 64px);
    }

    .icon-handle {
      cursor: pointer;
      // background: rgba(0, 0, 0, 0.1);

      &.disabled {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .log-area-wrapper {
    height: 147px;
    overflow-y: auto;
    margin: 0;
    color: white;
    padding: 8px 16px;

    .row-log {
      margin-bottom: 8px;
    }
  }
}
