<div class="center-container">
  <div class="headtitle-text">{{ 'PAGES.HOME.CHOOSE_GAME_VERSION' | translate }}</div>

  <div class="ContainerLattice">
    <div id="imageROC" class="imageContainerROC" #imageROC data-action="Roc" (mouseover)="onMouseEnter($event, 'Roc')" (mouseout)="onMouseLeave($event, 'Roc')" (click)="onClick($event, 'Roc')">
      <img id="ImagesROCEnable" src="assets/ROC.Enable.png" [ngStyle]="{'display': Images_ROC_Shown ? 'block' : 'none'}">
      <img id="ImagesROCDisable" src="assets/ROC.Disable.png" [ngStyle]="{'display': !Images_ROC_Shown ? 'block' : 'none'}">
    </div>
    <div id="imageTFT" class="imageContainerTFT" #imageTFT data-action="Tft" (mouseover)="onMouseEnter($event, 'Tft')" (mouseout)="onMouseLeave($event, 'Tft')" (click)="onClick($event, 'Tft')">
      <img id="ImagesTFTEnable" src="assets/TFT.Enable.png" [ngStyle]="{'display': Images_TFT_Shown ? 'block' : 'none'}">
      <img id="ImagesTFTDisable" src="assets/TFT.Disable.png" [ngStyle]="{'display': !Images_TFT_Shown ? 'block' : 'none'}">
    </div>
    <div id="imageREF" class="imageContainerREF" #imageREF data-action="Ref" (mouseover)="onMouseEnter($event, 'Ref')" (mouseout)="onMouseLeave($event, 'Ref')" (click)="onClick($event, 'Ref')">
      <img id="ImagesREFEnable" src="assets/REF.Enable.png" [ngStyle]="{'display': Images_REF_Shown ? 'block' : 'none'}">
      <img id="ImagesREFDisable" src="assets/REF.Disable.png" [ngStyle]="{'display': !Images_REF_Shown ? 'block' : 'none'}">
    </div>
  </div>

  <div class="subtitle-text">{{ 'PAGES.HOME.ADVANCED_SETTING' | translate }}</div>
  <div class="ContainerLattice">
    <label class="switch" checked>
      <input type="checkbox" class="hidden-checkbox" id="ModeSwitch" #ModeSwitch (input)="onInputChange(ModeSwitch.id)">
      <div class="slider">
        <span>{{ 'PAGES.HOME.INSTALL_ON_FOLDER' | translate }}</span>
        <span>{{ 'PAGES.HOME.INSTALL_ON_MAP' | translate }}</span>
      </div>
    </label>
    <label class="checkboxbj">
      <input type="checkbox" class="switch-text" id="BJSwitch" checked #BJSwitch (input)="onInputChange(BJSwitch.id)">{{ 'PAGES.HOME.INCLUDE_COMMANDER' | translate }}
    </label>
  </div>

</div>
