<main class="installer-content">
  <section class="intro" aria-labelledby="version-heading">
    <p class="eyebrow">Warcraft III</p>
    <h2 id="version-heading">{{ 'PAGES.HOME.CHOOSE_GAME_VERSION' | translate }}</h2>
  </section>

  <fieldset class="edition-grid" aria-labelledby="version-heading">
    <legend class="visually-hidden">{{ 'PAGES.HOME.CHOOSE_GAME_VERSION' | translate }}</legend>
    <div *ngFor="let edition of editions" class="edition-option">
      <input
        class="visually-hidden edition-input"
        type="radio"
        name="game-version"
        [id]="'edition-' + edition.id"
        [value]="edition.id"
        [(ngModel)]="selectedVersion">
      <label class="edition-card" [for]="'edition-' + edition.id">
        <span class="selected-mark material-icons" aria-hidden="true">check</span>
        <img
          [src]="'assets/' + edition.asset + (selectedVersion === edition.id ? '.Enable.png' : '.Disable.png')"
          [alt]="edition.alt">
        <span class="edition-details">
          <span class="edition-version">{{ edition.version }}</span>
          <span class="edition-optimal">{{ 'PAGES.HOME.OPTIMAL' | translate }} {{ edition.optimal }}</span>
        </span>
      </label>
    </div>
  </fieldset>

  <section class="settings-panel" aria-labelledby="settings-heading">
    <div class="section-heading">
      <span class="material-icons" aria-hidden="true">tune</span>
      <div>
        <h2 id="settings-heading">{{ 'PAGES.HOME.ADVANCED_SETTING' | translate }}</h2>
      </div>
    </div>

    <div class="settings-grid">
      <fieldset class="setting-group">
        <legend>{{ 'PAGES.HOME.DESTINATION' | translate }}</legend>
        <div class="segmented-control destination-control">
          <input class="visually-hidden" type="radio" name="destination" id="install-folder" [value]="true" [(ngModel)]="toFolder">
          <label for="install-folder"><span class="material-icons" aria-hidden="true">folder_open</span>{{ 'PAGES.HOME.INSTALL_ON_FOLDER' | translate }}</label>
          <input class="visually-hidden" type="radio" name="destination" id="install-map" [value]="false" [(ngModel)]="toFolder">
          <label for="install-map"><span class="material-icons" aria-hidden="true">map</span>{{ 'PAGES.HOME.INSTALL_ON_MAP' | translate }}</label>
        </div>
      </fieldset>

      <fieldset class="setting-group">
        <legend>{{ 'PAGES.HOME.INCLUDE_COMMANDER' | translate }}</legend>
        <div class="segmented-control commander-control">
          <input class="visually-hidden" type="radio" name="commander" id="commander-on" [value]="1" [(ngModel)]="commander">
          <label for="commander-on">{{ 'PAGES.HOME.INCLUDE_COMMANDER' | translate }}</label>
          <input class="visually-hidden" type="radio" name="commander" id="commander-vs" [value]="2" [(ngModel)]="commander">
          <label for="commander-vs">{{ 'PAGES.HOME.INCLUDE_COMMANDER_VSAI' | translate }}</label>
          <input class="visually-hidden" type="radio" name="commander" id="commander-off" [value]="0" [(ngModel)]="commander">
          <label for="commander-off">{{ 'PAGES.HOME.INCLUDE_COMMANDER_OFF' | translate }}</label>
        </div>
      </fieldset>

      <div class="toggle-list">
        <label class="toggle-row" for="optimise">
          <span>
            <strong>{{ 'PAGES.HOME.OPTIMISE' | translate }}</strong>
          </span>
          <input id="optimise" type="checkbox" [checked]="optimize" (change)="setOptimize($any($event.target).checked)">
          <span class="toggle" aria-hidden="true"></span>
        </label>
        <label class="toggle-row" for="force-language">
          <span>
            <strong>{{ 'PAGES.HOME.FORCELANG' | translate }}</strong>
          </span>
          <input id="force-language" type="checkbox" [checked]="forceLanguage" (change)="setForceLanguage($any($event.target).checked)">
          <span class="toggle" aria-hidden="true"></span>
        </label>
      </div>
    </div>
  </section>

  <div class="install-action">
    <button id="install-button" type="button" class="primary-button" (click)="install()">
      <span class="material-icons" aria-hidden="true">download</span>
      {{ (toFolder ? 'PAGES.HOME.INSTALL_ON_FOLDER' : 'PAGES.HOME.INSTALL_ON_MAP') | translate }}
    </button>
  </div>
</main>
