<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <div class="headtitle-text" i18n>{{ 'PAGES.HOME.CHOOSE_GAME_VERSION' | translate }}</div>
  <div class="ContainerLattice">
    <div id="imageREF" class="imageContainerREF" #imageREF data-action="Ref" (mouseover)="onMouseEnter($event, 'Ref')" (mouseout)="onMouseLeave($event, 'Ref')" (click)="onClick($event, 'Ref')">
      <img id="ImagesREFEnable" src="assets/REF.Enable.png" [ngStyle]="{'display': Images_REF_Shown ? 'block' : 'none'}"/>
      <img id="ImagesREFDisable" src="assets/REF.Disable.png" [ngStyle]="{'display': !Images_REF_Shown ? 'block' : 'none'}"/>
      <span>1.33+</span>
      <span class="reccomendations">Optimal:1.36.2</span>
    </div>
    <div id="imageTFT" class="imageContainerTFT" #imageTFT data-action="Tft" (mouseover)="onMouseEnter($event, 'Tft')" (mouseout)="onMouseLeave($event, 'Tft')" (click)="onClick($event, 'Tft')">
      <img id="ImagesTFTEnable" src="assets/TFT.Enable.png" [ngStyle]="{'display': Images_TFT_Shown ? 'block' : 'none'}"/>
      <img id="ImagesTFTDisable" src="assets/TFT.Disable.png" [ngStyle]="{'display': !Images_TFT_Shown ? 'block' : 'none'}"/>
      <span>1.24+</span>
      <span class="reccomendations">Optimal:1.24</span>
    </div>
    <div id="imageROC" class="imageContainerROC" #imageROC data-action="Roc" (mouseover)="onMouseEnter($event, 'Roc')" (mouseout)="onMouseLeave($event, 'Roc')" (click)="onClick($event, 'Roc')">
      <img id="ImagesROCEnable" src="assets/ROC.Enable.png" [ngStyle]="{'display': Images_ROC_Shown ? 'block' : 'none'}"/>
      <img id="ImagesROCDisable" src="assets/ROC.Disable.png" [ngStyle]="{'display': !Images_ROC_Shown ? 'block' : 'none'}"/>
      <span>1.24 - 1.31</span>
      <span class="reccomendations">Optimal:1.24</span>
    </div>
  </div>

  <div class="subtitle-text">{{ 'PAGES.HOME.ADVANCED_SETTING' | translate }}</div>
  <div class="ContainerLattice AdvancedSettings">
    <label class="switch">
      <input type="checkbox" class="hidden-checkbox" checked id="ModeSwitch" #ModeSwitch (input)="onInputChange(ModeSwitch.id)">
      <div class="slider">
        <span>{{ 'PAGES.HOME.INSTALL_ON_FOLDER' | translate }}</span>
        <span>{{ 'PAGES.HOME.INSTALL_ON_MAP' | translate }}</span>
      </div>
    </label>
    <label class="checkboxbj">
      <input type="checkbox" class="switch-text" id="BJSwitch" checked #BJSwitch (input)="onInputChange(BJSwitch.id)">{{ 'PAGES.HOME.INCLUDE_COMMANDER' | translate }}
    </label>
  </div>
</div>
