/* CSS layout */
body {
	margin: 0;
	padding: 0;
}

#masthead {
	min-width: 600px;
}

#logo {
	float: left;
	width: 92px;
	background-color:black;
}

#header {
	margin-left: 92px;
	background-color: black;
	color: #FFFFFF;
	height: 83px;
	text-align: center;
}

#container {
	clear: both;
	min-width: 600px;
}

#left_col {
	float: left;
	width: 200px;
	background-color:#000066;
	color:white;
	text-align:center;
}

#page_content {
	margin-left: 200px;
}

#footer {
	clear: both;
}
